{
  "env": {
    "browser": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "rules": {
    "no-undef": "off",
    "no-console": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/first": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "external"
          },
          {
            "pattern": "~/constants/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/utils/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/routes/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/layouts/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/pages/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/components/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          },
          {
            "pattern": "~/styles/**",
            "patternOptions": {
              "partial": true,
              "nocomment": true
            },
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreDeclarationSort": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/pages/*", "src/styles/*", "src/**/*.stories.tsx"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
